.container{
    background-color: #2d3436;
    display: flex;
    box-shadow: 0 0px 18px -10px white;
    // position: sticky;
    // top: 0;
    a{
        color: #EEF0F2;
        font-size: 1.1rem;
        text-decoration: none;
        padding: .8rem 1.6rem;
        text-shadow: 0 0px 2px whitesmoke;

        &:not(.logo):hover{
            color:#141414;
            background-color: white;
        }
    }
}